<%= flash[:notice] %>

<%= form_tag(user_path(current_user), method: :put) do %>
  <% @group_stage.each.with_index do |group, group_i| %>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">Group <%= group_i %></div>
        <div class="panel-body">
          <div class="group-sort">
            <% group.each.with_index do |country, i| %>
              <div class="group-country">
              <ul class="flags f32 pull-left"><li class="flag ar"></li></ul>
                <%= country.to_s.titleize %>
              <div class="clearfix"></div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><%= @final_16[0].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[8].to_s.titleize %></td>
        </tr>
        <tr>
          <td></td><td><%= @quarter_finals[0].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td><%= @quarter_finals[4].to_s.titleize %></td><td></td>
        </tr>
        <tr>
          <td><%= @final_16[1].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[9].to_s.titleize %></td>
        </tr>
        <tr>
          <td></td><td></td><td><%= @semi_finals[0].to_s.titleize %></td><td></td><td></td><td></td><td><%= @semi_finals[2].to_s.titleize %></td><td></td><td></td>
        </tr>
        <tr>
          <td><%= @final_16[2].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[10].to_s.titleize %></td>
        </tr>
        <tr>
          <td></td><td><%= @quarter_finals[1].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td><%= @quarter_finals[5].to_s.titleize %></td><td></td>
        </tr>
        <tr>
          <td><%= @final_16[3].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[11].to_s.titleize %></td>
        </tr>
        <tr>
          <td></td><td></td><td></td><td><%= @finals[0].to_s.titleize %></td><td><%= @winner.to_s.titleize %></td><td><%= @finals[1].to_s.titleize %></td><td></td><td></td><td></td>
        </tr>
        <tr>
          <td><%= @final_16[4].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[12].to_s.titleize %></td>
        </tr>
        <tr>
          <td></td><td><%= @quarter_finals[2].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td><%= @quarter_finals[6].to_s.titleize %></td><td></td>
        </tr>
        <tr>
          <td><%= @final_16[5].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[13].to_s.titleize %></td>
        </tr>
        <tr>
          <td></td><td></td><td><%= @semi_finals[1].to_s.titleize %></td><td></td><td></td><td></td><td><%= @semi_finals[3].to_s.titleize %></td><td></td><td></td>
        </tr>
        <tr>
          <td><%= @final_16[6].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[14].to_s.titleize %></td>
        </tr>
        <tr>
          <td></td><td><%= @quarter_finals[3].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td><%= @quarter_finals[7].to_s.titleize %></td><td></td>
        </tr>
        <tr>
          <td><%= @final_16[7].to_s.titleize %></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><%= @final_16[15].to_s.titleize %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= submit_tag 'Update Bracket', class: 'btn btn-primary' %>
<% end %>
