<h1>My Points: <b><%= current_user.points %></b></h1>

<p>
<% if current_user.approved? %>
  Your bracket has been <span class="text-success">approved</span>! Head over to the Leaderboard to see how you rank.
<% else %>
  Your bracket approval is <span class="text-info">pending</span>. You'll be a part of the leaderboard once it has been approved.
<% end %>
</p>

<h2>Groups</h2>

<div class="row">
  <% get_groups_from_bracket(current_user.bracket).each do |group, teams| %>
    <%= render partial: "group", locals: {group: group, teams: teams} %>
  <% end %>
</div>

<h2>Second Stage</h2>

<div class="row">
  <div class="col-xs-2">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 0, teams: ["Brazil", "Chile"], winner: 0, name: "Round 16"} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 1, teams: ["Columbia", "Honduras"], winner: 0} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 2, teams: ["France", "Nigeria"], winner: 0} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 3, teams: ["Germany", "Algeria"], winner: 0} %>
  </div>

  <div class="col-xs-2" style="margin-top: 100px">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 8, teams: ["Brazil", "Columbia"], winner: 0, name: "Quaterfinals"} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 9, teams: ["France", "Germany"], winner: 1} %>
  </div>

  <div class="col-xs-2" style="margin-top: 200px">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 12, teams: ["Brazil", "Germany"], winner: 0, name: "Semifinals"} %>
  </div>

  <div class="col-xs-2" style="margin-top: 200px">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 13, name: "Semifinals"} %>
  </div>

  <div class="col-xs-2" style="margin-top: 100px">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 10, name: "Quaterfinals"} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 11} %>
  </div>

  <div class="col-xs-2">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 4, name: "Round 16"} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 5} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 6} %>
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 7} %>
  </div>
</div>

<h2>Finals</h2>

<div class="row">
  <div class="col-xs-6">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 12, teams: ["Brazil", "Argentina"], winner: 1, name: "Champions"} %>
  </div>

  <div class="col-xs-6">
    <%= render partial: "match", locals: {bracket: current_user.bracket, index: 12, teams: ["Germany", "Netherlands"], winner: 0, name: "Third Place"} %>
  </div>
</div>
