<% if @users.any? %>
  <h3>Winner is <b><%= @users.first.name %></b></h3><br/>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Points</th>
          <th>Total Correct Predictions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td width="20%"><%= image_tag user.image_url %></td>
          <td width="20%"><%= user.name %></td>
          <td width="30%"><b><%= user.points %></b></td>
          <td><%= user.correct_predictions %></td>
          <td><%= link_to 'View Bracket', bracket_user_path(user) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
