<!DOCTYPE html>
<html>
<head>
  <title>Bracketify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Bracketify", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Leaderboard", root_path %></li>
        <li class="<%= 'active' if current_page?(bracket_path) %>"><%= link_to "My Bracket", bracket_path %></li>
        <li class="<%= 'active' if current_page?(current_bracket_path) %>"><%= link_to "Actual Bracket", current_bracket_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to current_user.email, bracket_path if current_user.present? %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% if flash[:error] %>
    <p class="text-danger">
      <%= flash[:error] %>
    </p>
  <% end %>
  <% if flash[:success] %>
    <p class="text-success">
      <%= flash[:success] %>
    </p>
  <% end %>
  <% if flash[:notice] %>
    <p class="text-info">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
